%h3{style:"color:#4B5C68; margin:none;"}
  Bonjour
  = @advice.authorname
%p{style: "font-size:14px;line-height:18px;"}
  Nous vous annonçons que votre conseil
  %strong= "#{@advice.title}"
  vient d'être validé et publié.

%p{style: "font-size:14px;line-height:18px;"}
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to subject_url(@advice.subject_slug, @advice.subject_id), target: "_blank", style:"text-decoration:none;color:#0000" do
      %strong Consulter le sujet &raquo;


%p{style: "font-size:14px;line-height:18px;"}
  Dès maintenant, ajoutez de nouveaux conseils pour alimenter le sujet :

%p{style: "font-size:14px;line-height:18px;"}
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to new_subject_advice_url(@advice.subject_id), target: "_blank", style:"text-decoration:none;color:#0000" do
      %strong Ajouter un nouveau conseil &raquo;

%p{style: "font-size:14px;line-height:18px;"}
  Ou copiez le lien ci-dessous :

%p{style: "font-size:14px;line-height:18px;"}
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to new_subject_advice_url(@advice.subject_id), target: "_blank", style:"text-decoration:none;color:#0000" do
      %strong= new_subject_advice_url(@advice.subject_id)

%p{style: "font-style:italic;font-size:14px;line-height:18px;"}
  L'équipe
  %strong
    10ConseilsPour
