= form_for @subject do |f|
  - if @subject.errors.any?
    .alert.alert-danger
      %h5
        Une ou plusieurs érreurs empêchent l'élement d'être enregistré :
      -  @subject.errors.full_messages.each do |msg|
        %li
          = msg
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control", rows: "3"

  .form-group
    = f.label :theme_id
    = f.select :theme_id, options_from_collection_for_select(Theme.all, :id, :title), class: "form-control"

  .form-group
    = f.label :illustration
    = f.file_field :illustration

  .form_controls
    = f.submit "Enregistrer", class: "btn btn-primary"