%ul.nav.nav-tabs
  %li{class: "#{'active' if params[:action]=='index'}"}
    = link_to admin_subjects_path do
      = fa_icon 'list'
      Liste
  %li{class: "#{'active' if params[:action]=='new'}"}
    = link_to new_admin_subject_path do
      = fa_icon 'plus'
      Ajouter