%h1.page-header
  Les sujets

= search_form_for @q do |f|
  .row
    .col-md-3
      = f.text_field :title_or_description_cont, class: "form-control", placeholder: "Titre ou description contient..."
    .col-md-3
      %button.btn.btn-success{type: "submit"}
        %i.fa.fa-search
        Rechercher

%br
%table.table
  %tr
    %th #
    %th= sort_link @q, :title, "Titre"
    %th Description
    %th= sort_link @q, :theme, "Theme"
    %th= sort_link @q, :state, "Status"
    %th
  - @subjects.each do |subject|
    %tr{class: "#{'danger' if subject.state? :disabled} #{'success' if subject.state? :validated}"}
      %td= subject.id
      %td= subject.title
      %td= subject.description[0..50] + "..."
      %td= subject.theme.title
      %td= subject.state
      %td
        = link_to edit_subject_path(subject), class: "btn btn-primary btn-xs" do
          %i.fa.fa-edit
          Modifier
        - if subject.can_validate?
          = link_to validate_subject_path(subject.id), class: "btn btn-warning btn-xs" do
            %i.fa.fa-check
            Valider
        - if subject.can_invalidate?
          = link_to disable_subject_path(subject.id), class: "btn btn-danger btn-xs" do
            %i.fa.fa-times
            Invalider

= will_paginate @subjects