%h1 Créer un compte

.row
  .col-md-8.col-md-offset-2

    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      - if flash.any?
        .alert.alert-danger
          %h5
            Une ou plusieurs érreurs empêchent l'élement d'être enregistré :
          - flash.each do |msg|
            %li
              = msg
      .row
        .col-md-6
          .form-group
            %label Prénom
            = f.text_field :firstname, required: false, autofocus: true, class: "form-control"

        .col-md-6
          .form-group
            %label Nom
            = f.text_field :lastname, required: false, class: "form-control"

      .form-group
        %label Email
        = f.text_field :email, required: false, class: "form-control"

      .form-group
        %label Mot de passe
        = f.text_field :password, required: false, class: "form-control", type: "password"
      .form-actions
        %button.btn.btn-success{type:"submit"}
          Créer mon compte

      = render "devise/shared/links"
