.row
  .col-md-6.col-md-offset-3
    %h1.text-center Créer votre compte

    = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|

      - if @user.errors.any?
        .alert.alert-danger
          %h5
            Une ou plusieurs érreurs empêchent l'élement d'être enregistré :
          - @user.errors.full_messages.each do |msg|
            %li
              = msg

      %h2 Informations générales
      .row
        .col-md-6
          .form-group
            %label Prénom
            = f.text_field :firstname, autofocus: true, class: "form-control"

        .col-md-6
          .form-group
            %label Nom
            = f.text_field :lastname, class: "form-control"

      .form-group
        %label Email
        = f.text_field :email, class: "form-control"

      .form-group
        %label Mot de passe
        = f.text_field :password, class: "form-control", type: "password"
      .form-group
        %label Confirmez le mot de passe
        = f.text_field :password_confirmation, class: "form-control", type: "password"

      %h2 Pour aller plus loin

      .form-group
        %label Date de naissance
        = f.date_field :birthdate, required: false, class: "form-control"
      .form-group
        %label Site web
        = f.text_field :website, required: false, class: "form-control"
      .form-group
        %label Localisation
        = f.text_field :town, required: false, class: "form-control"

      .form-actions
        %button.btn.btn-success{type:"submit"}
          Créer mon compte
