%h1 Résultat de recherche

.subjects
  .row
    - @subjects.each do |subject|
      .col-md-4.col-lg-3.col-sm-6
        .subject{data:{url: subject_path(subject.slug, subject.id)}}
          .illustration
            = image_tag subject.illustration.url(:thumb), class: "img-responsive", size: "520x300"
          = image_tag subject.theme.icon.url(:normal), class: "icon", size: "58x58"
          .subject-body
            %span.subject-theme= subject.theme.title
            10 conseils pour...
            %h2= subject.title

            = link_to "Conseille moi", subject_path(subject.slug, subject.id), class: "btn btn-default", style: "background-color: #{subject.theme.color}"