%ol.breadcrumb
  %li
    = link_to root_url do
      %i.fa.fa-home
  %li.active
    = @theme.title

%h1= @theme.title

.row
  .col-md-2.col-md-offset-1
    = facebook_button
  .col-md-2
    = twitter_button
  .col-md-2
    = google_plus_button
  .col-md-2
    = pinterest_button
  .col-md-2
    = linkedin_button

%p.subtitle
  = @theme.description

%p
  = link_to , class: "btn btn-success" do
    %i.fa.fa-plus
    Proposer un nouveau sujet

.subjects

  - @subjects.each do |subject|
    .subject.media{data:{url: subject_path(subject)}}
      = image_tag subject.illustration.url(:thumb), class: "pull-left"
      .media-body
        %h2.media-heading
          %small
            10 conseils pour
          = link_to subject do
            = subject.title
        %p= truncate(strip_tags(subject.description), length: 200, separator: ' ')