- content_for :header do
  %h1
    %small Tous nos sujets
    = @theme.title
  %p.description
    = @theme.description

%ol.breadcrumb
  %li
    = link_to root_url do
      = fa_icon "home"
  %li.active
    = @theme.title

.subjects
  .row
    - @subjects.each do |subject|
      .col-md-4.col-lg-3.col-sm-6
        .subject{style: "box-shadow: 0px 0px 3px #{subject.theme.color}", data:{url: subject_path(subject)}}
          .illustration
            = image_tag subject.illustration.url(:thumb), class: "img-respnosive"
          = image_tag subject.theme.icon.url(:normal), class: "icon"
          .subject-body
            %span.subject-theme= subject.theme.title
            10 conseils pour...
            %h4= subject.title

            = link_to "Conseille moi", subject, class: "btn btn-default", style: "background-color: #{subject.theme.color}"