%ul.nav.nav-sidebar
  %li{class: "#{(params["controller"] == "admin/home") ? 'active' : ''}"}
    = link_to root_path do
      %span.fa.fa-home
      Accueil
  %li{class: "#{(params["controller"] == "admin/themes") ? 'active' : ''}"}
    = link_to themes_path do
      %span.fa.fa-tags
      Les thèmes
  %li{class: "#{(params["controller"] == "admin/subjects") ? 'active' : ''}"}
    = link_to subjects_path do
      %span.fa.fa-tag
      Les sujets
  %li{class: "#{(params["controller"] == "admin/advices") ? 'active' : ''}"}
    = link_to advices_path do
      %span.fa.fa-tag
      Les conseils