.user
  .row
    .col-md-4
      = image_tag @user.avatar.url(:original), class: "avatar"
    .col-md-8
      %h1= @user.fullname
      %span.website
        = link_to @user.website, target: "_blank" do
          = @user.website

      %ul.list-inline.list-unstyled
        - if @user.birthdate
          %li
            %i.fa.fa-birthday-cake
            = l @user.birthdate, format: :long

        %li
          %i.fa.fa-map-marker
          = @user.town

        %li
          %i.fa.fa-user
          = @user.job

  %hr
  %h2 Tous ses conseils
  .advices
    .row
      - @user.advices.order_by_notoriety.each do |a|
        .col-md-4
          .advice
            .user
              = image_tag a.user.avatar.url, class: "avatar"
              .body
                .advice_from
                  Conseil de
                  = a.user.fullname
                = link_to a.user.website, a.user.website
            .advice-content
              %h2
                = a.title
              %p
                = a.description
              .footer
                .good-advice
                  = link_to_good_advice(current_user, a) do
                    = fa_icon "thumbs-up"
                    Ce conseil
                    %br
                    est génial
                  %br
                  = "#{a.upvotes} votes"
                .bad-advice
                  = link_to_bad_advice(current_user, a) do
                    = fa_icon "thumbs-down"
                    Ne suivez pas
                    %br
                    ce conseil
                  %br
                  = "#{a.downvotes} votes"

  %h2 Tous ses sujets
  .subjects
    .row
      - @user.subjects.each do |subject|
        .col-md-4.col-lg-3.col-sm-6
          .subject{data:{url: subject_path(subject.theme_slug, subject.theme_id, subject.slug, subject.id)}}
            .illustration
              = image_tag subject.illustration.url(:thumb), class: "img-responsive"
            = image_tag subject.theme.icon.url(:normal), class: "icon"
            .subject-body
              %span.subject-theme= subject.theme.title
              10 conseils pour...
              %h4= subject.title

              = link_to "Conseille moi", subject_path(subject.theme_slug, subject.theme_id, subject.slug, subject.id), class: "btn btn-default", style: "background-color: #{subject.theme.color}"
