.user
  .row
    .col-md-4
      = image_tag @user.get_avatar, class: "avatar"
    .col-md-8
      %h1= @user.fullname
      %span.website
        = link_to @user.website, target: "_blank" do
          = @user.website

      %ul.list-inline.list-unstyled
        - if @user.birthdate
          %li
            = fa_icon "birthday-cake"
            = l @user.birthdate, format: :long

        %li
          = fa_icon "map-marker"
          = @user.town

        %li
          = fa_icon "user"
          = @user.job

  %hr
  %h2 Tous ses conseils
  .advices
    .row
      - @user.advices.order_by_notoriety.each do |a|
        .col-md-4
          = render "advices/advice", advice: a

  %h2 Tous ses sujets
  .subjects
    .row
      - @user.subjects.each do |subject|
        .col-md-4.col-lg-3.col-sm-6
          .subject{data:{url: subject_path(subject.slug, subject.id)}}
            .illustration
              = image_tag subject.illustration.url(:thumb), class: "img-responsive"
            = image_tag subject.theme.icon.url(:normal), class: "icon"
            .subject-body
              %span.subject-theme= subject.theme.title
              10 conseils pour...
              %h4= subject.title

              = link_to "Conseille moi", subject_path(subject.slug, subject.id), class: "btn btn-default", style: "background-color: #{subject.theme.color}"
