.user
  .row
    .col-md-4
      = image_tag @user.avatar.url(:original), class: "avatar"
    .col-md-8
      %h1= @user.fullname
      %span.website
        = link_to @user.website, target: "_blank" do
          = @user.website

      %ul.list-inline.list-unstyled
        - if @user.birthdate
          %li
            %i.fa.fa-birthday-cake
            = l @user.birthdate, format: :long

        %li
          %i.fa.fa-map-marker
          = @user.town

        %li
          %i.fa.fa-user
          = @user.job

  %hr

  .row
    - @user.advices.order_by_notoriety.each do |advice|
      .col-md-4
        .advice
          %h2.advice-header
            = link_to theme_path(advice.subject.theme_id) do
              = advice.theme_title
          %h3
            = link_to subject_path(advice.subject.id) do
              = advice.subject_title
          %h4= advice.title
          %p
            = advice.description
          .footer
            = link_to_good_advice(current_user, advice)
            = link_to_bad_advice(current_user, advice)