%h1.page-header
  Les conseils

= search_form_for @q do |f|
  .row
    .col-md-3
      = f.text_field :title_or_description_cont, class: "form-control", placeholder: "Titre ou description contient..."
    .col-md-3
      %button.btn.btn-success{type: "submit"}
        %i.fa.fa-search
        Rechercher

%br
%table.table
  %tr
    %th #
    %th= sort_link @q, :title, "Titre"
    %th Description
    %th= sort_link @q, :subject_title, "Sujet"
    %th= sort_link @q, :state, "Status"
    %th
  - @advices.each do |advice|
    %tr{class: "#{'danger' if advice.state? :disabled} #{'success' if advice.state? :validated}"}
      %td= advice.id
      %td= advice.title
      %td= advice.description[0..50] + "..."
      %td= advice.subject.title
      %td= advice.state
      %td
        = link_to edit_advice_path(advice), class: "btn btn-primary btn-xs" do
          %i.fa.fa-edit
          Modifier
        - if advice.can_validate?
          = link_to validate_advice_path(advice.id), class: "btn btn-warning btn-xs" do
            %i.fa.fa-check
            Valider
        - if advice.can_invalidate?
          = link_to disable_advice_path(advice.id), class: "btn btn-danger btn-xs" do
            %i.fa.fa-times
            Invalider

= will_paginate @advices