%h1.page-header
  Sujets les plus consultés

.most-visited
  - @most_visited.each do |a|
    .col-md-3
      .subject{style: "box-shadow: 1px 1px 5px #{a.theme.color}"}
        = image_tag a.illustration.url(:thumb), class: "illustration"
        = image_tag a.theme.icon.url(:normal), class: "icon"
        %span.subject-theme= a.theme.title
        10 conseils pour...
        %h4= a.title

        = link_to "Conseille moi", a, class: "btn btn-default", style: "background-color: #{a.theme.color}"

%h1.page-header
  Nos thématiques
.master-themes
  - @masters.each do |s|
    .col-md-4
      .theme{style: "background-color: #{s.color}"}
        %h3= s.title
        %span.icon
          = image_tag s.icon.url(:normal)
        = link_to s, class: "btn btn-default" do
          Voir tous les sujets

%h1.page-header
  Nos meilleurs conseillers

.best-users
  - @best_users.each do |u|
    .col-md-6
      .user
        .round
          = image_tag u.avatar.url(:normal)
        .body
          %span.name= u.fullname
          = link_to u.website, target: "_blank" do
            = u.website

.fb-follow{ data: {href: "https://www.facebook.com/10conseilspour", width: "980", height: "350", colorscheme: "light", layout: "standard", show: {faces: true }}}