= render "layouts/shareable"

%h1.page-header
  Les derniers sujets

.last-subjects
  .row
    - @most_visited.each do |a|
      .col-md-3.col-sm-4
        .subject{style: "box-shadow: 0px 0px 3px #{a.theme.color}", data:{url: subject_path(a.slug, a.id)}}
          .illustration
            = image_tag a.illustration.url(:thumb), class: "img-respnosive"
          = image_tag a.theme.icon.url(:normal), class: "icon"
          .subject-body
            %span.subject-theme= a.theme.title
            10 conseils pour...
            %h2= a.title

            = link_to "Conseille moi", subject_path(a.slug, a.id), class: "btn btn-default", style: "background-color: #{a.theme.color}"

= render "layouts/themes"

%h1.page-header
  Nos meilleurs conseillers

.best-users
  .row
    - @best_users.each do |u|
      .col-sm-6
        .user
          .round
            = image_tag u.avatar.url(:normal)
          .body
            %span.name
              = link_to u do
                = u.fullname
            = link_to u.website, target: "_blank" do
              = u.website