.col-md-6
  .form-group
    %label= "Conseil ##{index+1}"
    = f.text_field :title, class: "form-control input-lg"
    = f.hidden_field :user_id, value: current_user.id
  .form-group
    %label Dites-en plus !
    %span.help-block
      N'hésitez pas à être précis dans vos termes.
    = f.text_area :description, class: "form-control input-lg", rows: 5, maxlength: 700
    %span.help-block
      %strong Un conseil efficace passe par une explication efficace.
  %hr
