- content_for :header do
  %h1
    %small Je propose un sujet pour
    = @theme.title
  %p.description
    Merci pour votre participation !


= form_for [@theme, @subject] do |f|
  .col-md-12
    %h2.page-header Le sujet

    - if @subject.errors.any?
      .alert.alert-danger
        %h5
          Une ou plusieurs érreurs empêchent l'élement d'être enregistré :
        - @subject.errors.full_messages.each do |msg|
          %li
            = msg
    .form-group
      %label Vous souhaitez donner 10 conseils pour...
      = f.text_field :title, class: "form-control input-lg"
    .form-group
      %label Dites-en plus !
      = f.text_area :description, class: "form-control input-lg", rows: 5, maxlength: 250

  %h2.page-header Les conseils
  %hr
  .alert.alert-info
    %p
      %strong Quelques astuces pour rédiger vos conseils :
    %br
    %ul
      %li Veillez sur votre grammaire et orthographe (Langage abrégé, SMS sont à proscrire)
      %li Vos conseils doivent être en lien avec le sujet
      %li Vos conseils doivent être indépendant les uns des autres (un système de classement est mis en place)
      %li Vos conseils ne doivent pas contenir de propos racistes, haineux, homophobes, sexistes ou diffamatoires
      %li Vos conseils ne doivent pas contenir de propos obscènes, pornographiques ou relevant du harcèlement
      %li Vos conseils ne doivent pas être à caractère promotionnel
    %br
    %p Vos conseils sont soumis à une modération. Si un conseil ne remplit pas les conditions ci-dessus, il sera invalidé par notre équipe de modération.

  %hr

  - @subject.advices.each_with_index do |a, index|
    = f.fields_for :advices, a do |ff|
      = render 'advice_fields', :f => ff, index: index


  .form-group
    %button.btn.btn-success{type: "submit"}
      Je propose un sujet !
