%h2= "__Last subjects"

- @subjects.each do |s|
  .well
    = link_to subject_path s.id do
      %h3= s.title

    %p= s.description

- if can? :create, Subject
  .form-actions
    = link_to "__New Subject", new_subject_path, class: "btn btn-primary"

