%ol.breadcrumb
  %li
    = link_to root_url do
      %i.fa.fa-home
  %li
    = link_to theme_path(@subject.theme) do
      = @subject.theme.title

  %li.active
    10 conseils pour
    = @subject.title

%h1
  10 conseils pour
  %span.highlight= @subject.title

.row
  .col-md-2.col-md-offset-1
    = facebook_button
  .col-md-2
    = twitter_button
  .col-md-2
    = google_plus_button
  .col-md-2
    = pinterest_button
  .col-md-2
    = linkedin_button

.description
  %p
    = @subject.description

.row
  - @advices.each_with_index do |a, index|
    - if index == 0
      .col-md-12
        .advice.master
          .row
            .col-md-3
              .user
                = image_tag "avatar.png", class: "avatar"
                .body
                  .advice_from
                    Un conseil de
                  .author
                    = a.user.fullname
                  = link_to a.user.website, a.user.website
            .col-md-9
              %h2
                = a.title
              %p
                = a.description
            .footer
              = link_to_good_advice(current_user, a)
              = link_to_bad_advice(current_user, a)
    - else
      .col-md-4
        .advice
          .user
            = image_tag "avatar.png", class: "avatar"
            .body
              %h5
                Un conseil de
                = a.user.fullname
              = link_to a.user.website, a.user.website
          %h3.advice-header= a.title
          %p
            = a.description
          .footer
            = link_to_good_advice(current_user, a)
            = link_to_bad_advice(current_user, a)
.row
  .col-md-4
    = link_to new_subject_advice_path(@subject), class: "btn btn-block btn-success" do
      %i.fa.fa-plus
      Proposer un conseil

.clearfix
