%h1= @subject.title

.well
  %p
    = @subject.description

- @subject.advices.each do |a|
  %h3= a.title
  %p
    = a.description
    
.well
  %p
    %h4 __Ajouter un commentaire
    = form_for [@subject, Advice.new] do |f|
      .control-group
        = f.label :title, class: "control-label"
        .controls
          = f.text_field :title, class: "input-xxlarge"

      .control-group
        = f.label :description
        .controls
        = f.text_area :description, rows: 3, class: "input-xxlarge"

      .control-group
        .controls
          = f.submit