- content_for :header do
  %h1
    = @subject.title

.description
  = image_tag @subject.illustration.url, class: "pull-left"
  .description-content
    = @subject.description

%ol.breadcrumb
  %li
    = link_to root_url do
      = fa_icon "home"
  %li
    = link_to theme_path(@theme.slug, @theme.id) do
      = @theme.title

  %li.active
    10 conseils pour
    = @subject.title


.advices
  .row
    - @advices.each_with_index do |a, index|
      - if index == 0
        .col-md-12
          .advice.master
            .user
              = link_to a.user do
                = image_tag a.user.avatar.url, class: "avatar"
              .body
                .advice_from
                  = link_to a.user do
                    Conseil de
                    = a.user.fullname
                = link_to a.user.website, a.user.website, target: "_blank"
            .advice-content
              %h2
                = a.title
              %p
                = a.description
              .top-advice
                = image_tag "top_conseil.png"
              .footer
                .good-advice
                  = link_to_good_advice(current_user, a) do
                    = fa_icon "thumbs-up"
                    Ce conseil est génial
                  %br
                  = "#{a.upvotes} votes"
                .bad-advice
                  = link_to_bad_advice(current_user, a) do
                    = fa_icon "thumbs-down"
                    Ne suivez pas ce conseil
                  %br
                  = "#{a.downvotes} votes"
      - else
        .col-md-4.col-lg-4.col-sm-6
          = render "advices/advice", advice: a
    .col-md-4.col-lg-4.col-sm-6
      .advice.propose{style:"background:#{@theme.color}", data:{url: new_subject_advice_path(@subject)}}
        .illustration
        = image_tag @theme.icon.url(:normal), class: "icon"
        .advice-body
          %h3
            Vous souhaitez déposer
            %br
            un conseils pour
            %br
            = @subject.title
            ?

          = link_to "Cliquez ici", new_subject_advice_path(@subject), class: "btn btn-default", style: "background-color: #fff; color:#{@theme.color}"

= render "layouts/shareable"

%h2
  Autres sujets sur le thème
  = @theme.title
.subjects
  .row
    - @similar_subjects.each do |subject|
      .col-md-4.col-lg-3.col-sm-6
        .subject{data:{url: subject_path(subject.slug, subject.id)}}
          .illustration
            = image_tag subject.illustration.url(:thumb), class: "img-responsive"
          = image_tag subject.theme.icon.url(:normal), class: "icon"
          .subject-body
            %span.subject-theme= subject.theme.title
            10 conseils pour...
            %h4= subject.title

            = link_to "Conseille moi", subject_path(subject.slug, subject.id), class: "btn btn-default", style: "background-color: #{subject.theme.color}"


