- content_for :header do
  %h1
    = @subject.title

.description
  = image_tag @subject.illustration.url, class: "pull-left"
  .description-content
    = @subject.description

= render "layouts/pubs"
%br
%ol.breadcrumb
  %li
    = link_to root_url do
      = fa_icon "home"
  %li
    = link_to theme_path(@theme.slug, @theme.id) do
      = @theme.title

  %li.active
    10 conseils pour
    = @subject.title


.advices
  = render "advices", advices: @advices, subject: @subject, theme: @theme


= render "layouts/shareable"

%h2
  Autres sujets sur le thème
  = @theme.title
.subjects
  .row
    - @similar_subjects.each do |subject|
      .col-md-4.col-lg-3.col-sm-6
        .subject{data:{url: subject_path(subject.slug, subject.id)}}
          .illustration
            = image_tag subject.illustration.url(:thumb), class: "img-responsive"
          = image_tag subject.theme.icon.url(:normal), class: "icon"
          .subject-body
            %span.subject-theme= subject.theme.title
            10 conseils pour...
            %h4= subject.title

            = link_to "Conseille moi", subject_path(subject.slug, subject.id), class: "btn btn-default", style: "background-color: #{subject.theme.color}"


