%h2
  %span.highlight 10 conseils pour
  = @subject.title

.well
  %p
    = @subject.description
.row
  - @subject.advices.each_with_index do |a, index|
    - if index == 0
      .col-md-12
        .advice.master
          .user
            = image_tag "avatar.png", class: "avatar"
            .body
              %h5
                Un conseil de
                = a.user.fullname
              = link_to a.user.website, a.user.website
          .inner
            .col-md-2
              .top
                Le top conseil
            .col-md-10
              %h3.advice-header
                = a.title
              %p
                = a.description
            .footer.pull-right
              = link_to "Très bon conseil", "#", class: "btn btn-default good"
              = link_to "Mauvais conseil", "#", class: "btn btn-default bad"
    - else
      .col-md-4
        .advice
          .user
            = image_tag "avatar.png", class: "avatar"
            .body
              %h5
                Un conseil de
                = a.user.fullname
              = link_to a.user.website, a.user.website
          .inner
            %h3.advice-header= a.title
            %p
              = a.description
            .footer.pull-right
              = link_to "Très bon conseil", "#", class: "btn btn-default good"
              = link_to "Mauvais conseil", "#", class: "btn btn-default bad"

.row
  %h2.col-md-12 Nos autres sujets
  - Subject.all.each do |s|
    .col-md-3
      .subject
        %h3= s.theme.title
        %strong 10 conseils pour
        %h4= s.title

        %small= s.description

        = link_to "Conseille moi", s, class: "btn btn-default"


.row
  %h2.col-md-12 Nos autres thématiques
  - Theme.last(6).each do |s|
    .col-md-4
      .theme
        %h3= s.title
        = link_to '#', class: "btn btn-default" do
          Voir tous les sujets