.row
  .col-md-6.col-md-offset-3
    %h1 Connexion

    = form_for resource, as: :user, url: session_path(:user) do |f|
      - if flash.any?
        .alert.alert-danger
          %h5
            Une ou plusieurs érreurs empêchent l'élement d'être enregistré :
          - flash.each do |msg|
            %li
              = msg
      .form-group
        %label Email
        = f.text_field :email, required: false, autofocus: true, class: "form-control"

      .form-group
        %label Mot de passe
        = f.text_field :password, required: false, class: "form-control", type: "password"

      .form-group
        %button.btn.btn-success{type: "submit"}
          Connexion


    = render "devise/shared/links"
