.advice{class: "advice-#{advice.id}"}
  .user
    - if advice.has_user?
      = link_to user_path(advice.user) do
        = image_tag advice.user_avatar, class: "avatar"
    - else
      = image_tag advice.user_avatar, class: "avatar"
    .body
      .advice_from
        - if advice.has_user?
          = link_to user_path(advice.user) do
            Conseil de
            = advice.user.fullname
        - else
          Conseil de
          = advice.author_name

      = link_to advice.user_website, advice.user_website, target: "_blank" if advice.user_website
  .advice-content
    %h2
      %small
        = link_to theme_path(advice.theme_slug, advice.theme_id) do
          = advice.theme_title
        = fa_icon 'angle-right'
        = link_to subject_path(advice.subject_slug, advice.subject_id) do
          = advice.subject_title
      = advice.title

    %p
      = simple_format truncate(advice.description, length: 600, separator: " ")
    .footer
      = render "advices/advice_footer", advice: advice