.good-advice
  = link_to_good_advice(current_user, advice) do
    = fa_icon "thumbs-up"
    Ce conseil
    %br
    est génial
  %br
  %small= "#{advice.upvotes} votes"
.bad-advice
  = link_to_bad_advice(current_user, advice) do
    = fa_icon "thumbs-down"
    Ne suivez pas
    %br
    ce conseil
  %br
  %small= "#{advice.downvotes} votes"