%h1.page-header
  = fa_icon 'user'
  Utilisateurs

.panel
  .panel-body
    %table.table
      %thead
        %tr
          %th #
          %th= sort_link @q, :firstname, "Nom", default: :asc
          %th= sort_link @q, :email, "Email"
          %th Stat
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= user.fullname
            %td= user.email
            %td
              Conseils :
              %strong= "#{user.advices_count}"
              %br
              Sujets :
              %strong= "#{user.subjects_count}"