<!DOCTYPE html>
%html
  %head
    %title= @title
    %meta{ name: "description", content: @description}
    %meta{ content: "fr", http:{equiv: "content-language"}}

    %meta{ property: "fb:app_id", content: "707624195952119"}
    %meta{ property: "og:type", content: "website"}
    %meta{ property: "og:url", content: canonical_url}
    %meta{ property: "og:title", content: @title}
    %meta{ property: "og:image", content: @image}
    %meta{ property: "og:description", content: @description}



    %link{ rel: "canonical", href: canonical_url }
    %link{:href => canonical_url, :hreflang => "fr-fr", :rel => "alternate"}/

    = stylesheet_link_tag "application", media: "screen"
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}

  %body{class: body_class}
    = render "layouts/script"
    #wrap
      %header{style: "#{header_style(@header_color) if @header_color}" }
        .container
          .account.hidden-xs
            - if current_user
              = link_to me_path do
                %i.fa.fa-user
                Mon compte
              \|
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-sign-out
                Se déconnecter
            - else
              = link_to new_user_session_path do
                %i.fa.fa-user
                Se connecter
              \|
              = link_to new_user_registration_path do
                %i.fa.fa-sign-in
                Devenir conseiller
          %nav.navbar.navbar-default
            .navbar-header.visible-xs
              %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to root_url, class: "navbar-brand" do
                10 Conseils pour

            #navbar.collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li.visible-sm
                  = link_to root_url do
                    Accueil
                - @masters.first(3).each do |m|
                  %li{class: "#{'active' if master_menu_is_active(m)}"}
                    = link_to theme_path(m.slug, m.id), style: "#{'background:'+m.color if master_menu_is_active(m)}" do
                      = m.title
                %li.round.logo.hidden-xs
                  = link_to "/" do
                    %span.dix 10
                    %span.conseils conseils
                    %span.pour pour
                    %span.beta BETA

                - @masters.last(3).each do |m|
                  %li{class: "#{'active' if master_menu_is_active(m)}"}
                    = link_to theme_path(m.slug, m.id), style: "#{'background:'+m.color if master_menu_is_active(m)}" do
                      = m.title

          - if content_for?(:header)
            = yield :header
          - else
            .search.hidden-xs
              .container
                .form
                  %span
                    J'ai besoin d'aide pour
                  .col-md-offset-3.col-md-6
                    = form_tag '/search', method: :get do
                      .input-icon.right
                        %button{type: "submit"}
                          = fa_icon "search"
                        = text_field_tag :q, params[:q], class: "form-control input-lg", placeholder: "Entrez votre recherche ici..."

      #main
        .container
          = yield


      %footer
        .container
          %ul.list-inline.list-unstyled
            %li
              10ConseilsPour&copy; 2015
            %li
              = link_to page_path('mentions-legales') do
                Mentions légales
            %li
              = link_to page_path('about') do
                A propos

    = javascript_include_tag "application"
    = custom_bootstrap_flash