<!DOCTYPE html>
%html
  %head
    %title 10 conseils pour...
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{class: body_class}
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=359204397558628";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %header
      .account.pull-right
        = link_to "#" do
          %i.fa.fa-user
          Mon compte

      %nav
        %ul.list-unstyled
          %li
            = link_to 'Thématique 1', "#"
          %li
            = link_to 'Thématique 2', "#"
          %li
            = link_to 'Thématique 3', "#"
          %li.round.logo
            = link_to "/" do
              %span.dix 10
              %span.conseils conseils
              %span.pour pour
          %li
            = link_to 'Thématique 4', "#"
          %li
            = link_to 'Thématique 5', "#"
          %li
            = link_to 'Thématique 6', "#"
      .search
        .form
          %span
            J'ai besoin d'aide pour
          .col-md-offset-3.col-md-6
            .input-icon.right
              = link_to "#" do
                %i.fa.fa-search
              = text_field_tag :q, "", class: "form-control input-lg"

    .main
      = yield

    %footer
      - Theme.all.each do |t|
        .col-md-2
          %h4= t.title
          %ul.list-unstyled
            %li= link_to 'Theme 1', '#'
