<!DOCTYPE html>
%html
  %head
    %title 10 conseils pour...
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

  %body{class: body_class}
    #wrap
      %header
        .container
          .account.pull-right
            - if current_user
              = link_to me_path do
                %i.fa.fa-user
                Mon compte
              \|
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-sign-out
                Se déconnecter
            - else
              = link_to new_user_session_path do
                %i.fa.fa-user
                Se connecter
              \|
              = link_to new_user_registration_path do
                %i.fa.fa-sign-in
                Devenir conseiller

          %nav
            %ul.list-unstyled
              - @masters.first(3).each do |m|
                %li
                  = link_to m do
                    = m.title
              %li.round.logo
                = link_to "/" do
                  %span.dix 10
                  %span.conseils conseils
                  %span.pour pour
                  %span.beta BETA
              - @masters.last(3).each do |m|
                %li
                  = link_to m do
                    = m.title
          .search
            .form
              %span
                J'ai besoin d'aide pour
              .col-md-offset-3.col-md-6
                = form_tag '/search', method: :get do
                  .input-icon.right
                    %button{type: "submit"}
                      %i.fa.fa-search
                    = text_field_tag :q, params[:q], class: "form-control input-lg"

      .main
        = yield


      %footer
        .container
          - Theme.all.each do |t|
            .col-md-4
              %h4= t.title
              %ul.list-unstyled
                - t.subjects.each do |subject|
                  %li= link_to subject.title, subject
        .bottom
          %p
            10ConseilsPour&copy; 2014 - Design :
            %strong Claudia Berger
            \- Réalisation & Développement :
            %strong Paul Gruson

    = javascript_include_tag "application"
    = custom_bootstrap_flash