.user
  .row
    .col-md-4
      = image_tag @user.get_avatar, class: "avatar"
      %br
      = link_to edit_me_path(current_user), class: "btn btn-success btn-block" do
        %i.fa.fa-edit
        Modifier mon compte

    .col-md-8
      %h1= @user.fullname
      - if @user.website?
        %span.website
          = link_to @user.website, target: "_blank" do
            = @user.website

      %ul.list-inline.list-unstyled
        - if @user.birthdate
          %li
            = fa_icon "gift"
            = l @user.birthdate, format: :long

        %li
          = fa_icon "map-marker"
          = @user.town

        %li
          = fa_icon "user"
          = @user.job